{
	"root": true,
	"extends": [
		"eslint:recommended", "plugin:@typescript-eslint/recommended"
	],
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
        "new-parens": 1,
        "semi": [
            1,
            "never"
        ],
        "no-consecutive-blank-lines": 0
	},
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	}
}
