{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"env": {
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"rules": {
		"new-parens": 1,
		"semi": [
			1,
			"never"
		],
		"no-consecutive-blank-lines": 0,
		"@typescript-eslint/no-this-alias": [
			"error",
			{
				"allowDestructuring": true,
				"allowedNames": [
					"self"
				]
			}
		]
	},
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"plugins": [
		"jest"
	]
}